.home-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
}

.home-title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 1rem;
  letter-spacing: -0.02em;
}

@media (min-width: 768px) {
  .home-title {
    font-size: 3.5rem;
  }
}

       
.title-nome {
  color: #e21fb5; 
}

.home-subtitle {
  font-size: 1.125rem;
  color: #aaa;
  max-width: 700px;
  margin-bottom: 2rem;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .home-subtitle {
    font-size: 1.25rem;
  }
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 640px) {
  .home-buttons {
    flex-direction: row;
  }
}

/* Botões */
.btn {
  padding: 0.75rem 2rem;
  border-radius: 999px;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.btn:hover {
  transform: translateY(-2px);
}

.btn-primary {
  background-color: #9f0b6b;
}

.btn-primary:hover {
  background-color: #ec8fd2;
}

.btn-secondary {
  background-color: #c89ac4;
}

.btn-secondary:hover {
  background-color: #b306ab;
}
